        body {
            overflow: hidden;
            background-image: url('src/batang.png');
            background-size: cover;
            }
            
        
        .ipryeuk {
            position: absolute;
            top: 200px;
            left: 230px;
            z-index: 1;
        }

        .boy {
            position: absolute;
            top: 170px;
            left: 20px;
        }

        .boy-chat {
            position: absolute;
            top: 170px;
            left: 120px;
        }

        .sejong {
            position: absolute;
            top: 480px;
            right: 30px;
        }

        .sejong-chat {
            position: absolute;
            top: 290px;
            right: 130px;
        }

        .geulsi {
            position: absolute;
            top:  0px;
            right: 50px;
        }

        .icon {
            position: absolute;
            top: 30px;
            left: 40px;
        }

        .sinabro {
            position: absolute;
            top: 55px;
            left: 140px;
        }
        .glasscat {
            position: absolute;
            top: 390px;
            left: 500px;
        }
        .glasscat2 {
            position: absolute;
            top: 390px;
            left: 680px;
        }


        #output-container {
            position: absolute;
            top: 275px;
            left: 470px;
            margin-top: 50px;
            font-size: 17px;
            font-weight: bold;
        }
        